<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        
        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
    <img src="https://lh3.googleusercontent.com/proxy/yQhWWDH_qRPAQFduTWFq5R5wVE_ndfWyuINteZQ1JfFhljD5oNymEwCfhltt-8cL6W7HiDCgGRKQQb-uX20fcbsYYyTszFyYoPHqMleSVkXehaNLjtUlfh-_Qitu-M7IpV9dzR1IGqXw_nxcO3XyoIsDjhQLadTHjKjoMtqnW8BUbd_Km2EGtMiZ52894PNDCTIwujoLbIzSP-_yn50">
    </body>
</html>